<Files "config.local.php">
  Require all denied
</Files>
<IfModule !mod_authz_core.c>
  <Files "config.local.php">
    Order allow,deny
    Deny from all
  </Files>
</IfModule>

# Prevent browsers from using stale JavaScript and CSS during development
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "no-cache, must-revalidate"
  </FilesMatch>
</IfModule>